{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <h1>Modifier l'article</h1>

    {% for message in app.flashes('success') %}
        <div style="color: green;">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.description) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.image) }}

        <button type="submit">Mettre à jour</button> {# Bouton manuel au lieu de form_row(form.save) #}
    {{ form_end(form) }}

    <a href="{{ path('app_account') }}">Retour à la liste des articles</a>
{% endblock %}
