{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
<h1>Liste des Articles</h1>

    <ul>
        {% for article in articles %}
            <li>
                <img src="{{ article.image }}" alt="{{ article.nom }}" style="max-width: 300px; height: auto;">
                <strong>{{ article.nom }}</strong> - {{ article.prix }} €
                <p>{{ article.description }}</p>
                <p>--------------</p>
            </li>
        {% else %}
            <li>Aucun article disponible.</li>
        {% endfor %}
    </ul>
    
{% endblock %}
